<div class="container">
  <h1>Welcome to 2 Fast 4 Ruby: Javascript Drift</h1>
  <h4>Featuring Paul Walker and Vin Diesel</h4>
</div>
<script type="text/javascript" src="/js/stopwatch.js"></script>

<h2>Race here:</h2>

<table class="racer_table">
  <tr id="player1_strip">
    
    <td class="active-vin"><img src="vin.jpg" height = "50px" width = "40px"></td>
  </tr>
  <tr id="player2_strip">
    <td class="activep-walker"><img src="paul.jpg" height = "50px" width = "40px"></td>
  </tr>
</table>